<h1>Добро пожаловать на сайт поиска работы!</h1>
<p style="font-size: 15pt;"><span style="font-style: italic;">find-job.ru </span>- новый сайт поиска работы, где каждый может найти работу по душе</p>
<p style="font-size: 15pt;">У нас уже есть организаций - <%= @organisations.length %> и доступных вакансий - <%= @jobs.length %>.</p>

<br><br>

<h2>Список организаций</h2>
<p style="font-size: 15pt;">Выберите конкретную организацию для просмотра доступных в ней вакансий.</p>
<ul class="menu">
    <% @organisations.each do |organisation| %>
        <li><a href="/organisation/<%= organisation.id %>"><%= organisation.name %></a></li>&nbsp;
    <% end %>
</ul>