// Place all the styles related to the Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
}

.inf-header {
    font-size: 15pt; 
    text-decoration: underline;
}

header {
    font-size: 15pt;
    color: red;
    text-align: left;
}

#user-information {
    float: right;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

a:hover {
    color:green;
}

ul {
    width: 500px;
    list-style: none;
    margin: auto;
    padding: 0;
    font-size: 15pt;
}

li a {
    display: block; 
    padding: 15px;
    text-decoration: none; 
    color: black; 
    border: 1px solid #ccc;
    background-color: #f0f0f0; 
}

li a:hover {
    color: white;
    background-color: green;
}

table {
    width: 45%;
    margin: auto;
    padding-left: 170px;
}

.enter {
    width: 200px;
    height: 15pt;
}

#website-name {
    color:red; 
    font-style: italic; 
    display:inline-block; 
    margin:auto;
}

.account-name {
    color:black;
    text-decoration: underline;
}